#TIMEZONE
TZ=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# PostgreSQL exporter
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Alertmanager email (Gmail App Password)
ALERT_EMAIL_FROM=
ALERT_EMAIL_PASSWORD=
ALERT_EMAIL_TO=
